@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

h3,h1{
	color:darkgreen;
	font-family: 'Oswald', sans-serif;
}

.navbar{
    background-color: darkgreen;
    padding: 4px 0 4px 0;
}

.img-responsive{
	height: 150px !important;
}

.instituto{
	font-weight: bold;
}
.navlink{
	color:white !important;
}

.navlink:hover{
	text-decoration: none;
	color: darkgreen !important;
}
.instituto, .instituto:hover{
	color:black;
	text-decoration: none;
}
